$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background: #EAEAEA;
  position: relative;
  top: 20%;
}

#video {
  display: none;
}

#aw-pageTitle {
  font-size: 16px;
  line-height: 1.8;
  color: #555;

  h1 {
    font-size: 24px;
  }
}

#youTube {
  $formborderradius:  6px;
  $formfontsize:      18px;
  $formboxshadow:     rgba(0,0,0,0.1) 0px 7px 6px -5px;

  margin: 30px 0 20px;

  .form-group input {
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: $formborderradius;
    box-shadow: $formboxshadow;
    box-sizing: border-box;
    font-size: $formfontsize;
    height: auto;
    padding: .5em .75em;
    margin-right: 6px;
  }

  .input-group {
    box-shadow: $formboxshadow;

    .form-control:first-child,
    .btn {
      font-size: $formfontsize;
      box-sizing: border-box;
      height: auto;
      border: none;
      border-bottom: 1px solid #CCC;
    }

    .form-control:first-child {
      border-radius: $formborderradius 0 0 $formborderradius;
      box-shadow: none;
      padding: .5em 0 .5em .75em;
    }

    .input-group-btn:last-child > .btn {
      border-radius: 0 $formborderradius $formborderradius 0;
      padding: .5em 1.25em;
    }
  }
}

#aw-cardContainer {
  display: none;
}

#embedCode {
  position: relative;

  textarea {
    border-color: #CCC;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: none;
    height: 80px;
    margin-top: 1em;
    max-width: 100%;
    padding: .5em;
    width: 100%;
  }

  &:before {
    background: #CCC;
    border-radius: 3px;
    box-sizing: border-box;
    content: 'Almost done! Hit cmd+c (mac) or ctrl+c (windows) to copy your embed code.';
    display: none;
    height: auto;
    margin: 0 2%;
    padding: .5em;
    position: absolute;
    top: -10px;
    text-align: center;
    width: 96%;
    z-index: 100;
  }
}
